body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(29, 29, 175);
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 2px;
}

footer{
    background-color: black;
    color: white;
    padding: 4px;

}

.tituloTabla{
    text-align: center;
}